h2 {
    color: teal;
    margin-top:10px;
}

.cityDetails {
    width: 30%;
    height: 40%;
    background-color: tomato;
    margin: auto;
    padding: 0 10px;
    border-radius: 3px;
}

.addCity input{
    margin: 10px;
    padding: 8px;
    border-radius: 6px;
    border: none;
    background-color: whitesmoke;
}
